* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 0.875em;
}

body, .form input, .form textarea, .btn-submit {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #595959;
}

h1, h2, h3, h5 {
  font-family: 'Raleway', 'Arial', sans-serif;
}

.container {
  padding: 3.125em 1em;
}

/* --------------------
        Header
---------------------*/
.menu {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  background-color: transparent;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f2f0;
  padding: 0 3px;
  margin: 1em 0 1em 1em;
}

.menu a:hover, a.active {
  background-color: #f4f2f0;
  color: #1a1a1a;
  border-radius: 3px;
}

.banner {
  width: 100%;
  height: 579px;
  background-image: url("./images/banner-medium.jpg");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
   text-align: center;
  position: relative;
}

.banner::before {
  content: '';
	position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #662871; /* Old browsers */
  background: -moz-linear-gradient(left, #008080 1%, #662871 70%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #008080 1%,#662871 70%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #008080 1%,#662871 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  opacity: 0.85;
}

.banner h1 {
  font-size: 4em;
  color: #ffffff;
  margin: 0 auto;
  z-index: 2;
}

.banner p {
  font-size: 1.25em;
  color: #ffffff;
  margin: 0.5em auto;
  z-index: 2;
}

/* --------------------
        #About
---------------------*/
.section-header {
  font-size: 2.5em;
  color: #737373;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-bottom: 0.5em;
}

.underline {
  width: 75px;
  height: 3px;
  margin: 0 auto 4em auto;
  background: #662871; /* Old browsers */
  background: -moz-linear-gradient(left, #008080 1%, #662871 70%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #008080 1%,#662871 70%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #008080 1%,#662871 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.about-intro {
  width: 100%;
}

.portrait-wrapper {
  width: 262.5px;
  height: 183.75px;
  margin: 3em auto 0 auto;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.portrait-wrapper:before,
.portrait-wrapper:after {
  content:"";
  position: absolute;
  z-index: -1;
  bottom: 2px;
  left: 2px;
  width: 50%;
  height: 20%;
  max-width: 175px;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.portrait-wrapper:after {
  right: 2px;
  left: auto;
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

.portrait {
  width: 100%;
  height: auto;
  border: 0.6em solid white;
}

.about-container p {
  line-height: 1.5;
}

.new-p {
  margin-top: 1.5em;
}

.about-intro a, .project-info a {
  text-decoration: none;
  color: #008080;
}

.about-intro a:hover, .project-info a:hover {
  border-bottom: 1px solid #008080;
}

/* --------------------
        #What and skills
---------------------*/
.what-skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.skills-item {
 display: flex;
 align-items: flex-start;
 line-height: 1.5em;
 margin-bottom: 1.5em;
}

.skills-item .skills-item-content {
  flex: 1;
  padding: 0 25px;
}

.skills-item h5 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: 1em;
  color: #333333;
  font-weight: bold;
}

.tech {
  margin-bottom: 3em;
}

.skills-icon {
  width: 50px;
  height: 50px;
}

/* --------------------
        #Projects
---------------------*/
.project-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #662871;
}

.project-img {
  width: 30%;
  height: 35%;
}

.project h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: #ffffff;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  overflow:hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.75s ease;
  transition: 0.75s ease;
}

.project-info h3 {
  color: #737373;
  font-size: 1.5em;
  font-weight: 500;
}

.project-btn {
  width: 150px;
  padding: 5px;
  background: #ffffff;
  border: 3px solid #008080;
  border-radius: 3px;
  text-transform: uppercase;
}

.project-btn:hover {
  cursor: pointer;
  background: #008080;
  color: #ffffff;
}

.project:hover .project-info {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.tags-container {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}
.tags {
  font-size: 0.89em;
  background-color: #ffffff;
  color: #662871;
  border-radius: 3px;
  padding: 0 0.625em;
  margin-right: 0.625em;
  margin-top: 1.5em;
}

/* --------------------
        #Contact
---------------------*/
.contact-wrapper {
  width: 100%;
  font-size: 1.125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3em auto 0 auto;
  position: relative;
  width: 90%;
}

.form input {
  margin: 0.33em 0 0.66em 0;
  font-size: 0.9em;
  padding: 0.55em;
  border: none;
  border-radius: 3px;
  background-color: #e6e6e6;
  color: #000000;
}

.form textarea {
  min-height: 180px;
  margin: 0.33em 0 4.5em 0;
  font-size: 0.9em;
  padding: 0.55em;
  border: none;
  border-radius: 3px;
  background-color: #e6e6e6;
  color: #000000;
  resize: none;
}

.submit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  background: #5b1f93;
  background: -webkit-linear-gradient(rgb(91, 31, 147), rgb(118, 31, 147));
  background: linear-gradient(rgb(91, 31, 147), rgb(118, 31, 147));
  color: #ffffff;
  padding: 0.45em 1.66em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submit:hover {
  background: #5b3181;
  color: #e6e6e6;
}

.error-name, .error-email, .error-msg {
  font-size: 0.88em;
  color: #990000;
  margin-bottom: 10px;
}

.contact-card {
  width: 300px;
  height: 350px;
  -webkit-box-shadow: 0 3px 6px #666666;
          box-shadow: 0 3px 6px #666666;
  /*background-color:  #cabeb4;*/
  margin: 3em auto 2em auto;
}

.map {
  width: 300px;
  height: 285px;
  background-image: url("./images/sthlm-map.png");
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20.5px 0;
  background-color: #e6e6e6;
}

.email {
  background-image: url("./images/email-black.png");
  width: 24px;
  height: 24px;
}

.email:hover {
  background-image: url("./images/email-purple.png");
}

.github {
  background-image: url("./images/github-black.png");
  width: 24px;
  height: 24px;
}

.github:hover {
  background-image: url("./images/github-purple.png");
}

.linkedin {
  background-image: url("./images/linkedin-black.png");
  width: 24px;
  height: 24px;
}

.linkedin:hover {
  background-image: url("./images/linkedin-purple.png");
}

/* --------------------
        Footer
---------------------*/
.footer {
  height: 150px;
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer p {
  font-size: 0.875em;
  color: #a6a6a6;
  padding: 0.7em 1.4em;
}

.footer p:first-of-type {
  border-right: 1px solid  #a6a6a6;
}

.footer p > a {
  text-decoration: none;
  color: #d9d9d9;
}

.footer p > a:hover {
  color: #9b57db;
}

/* --------------------
      Media queries
---------------------*/
/*@media screen and (min-width: 501px) {
  .project {
    width: 360px;
    height: 225px;
  }
}*/

@media screen and (min-width: 761px) {
  body {
    font-size: 1em;
  }
  .menu a {
    margin: 1.25em 0 1.25em 1.25em;
  }
  .container {
    padding: 3.125em 0;
  }
  .about-intro {
    width: 90%;
    margin: auto;
  }
  .portrait-wrapper {
    float: right;
    margin: 3em 1em 0.5em 1em;
  }
  .what-skills-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .project-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
       -ms-flex-align: start;
          align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    justify-content: center;
  }
  .project {
    width: 45%;
    margin: 10px;
  }
  .contact-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    margin: auto;
  }
  .form {
    margin: 3em 0 0 0;
    width: 60%;
  }
  .contact-card {
    margin: 4.5em 0 4.2em 1.5em;
  }
}

@media screen and (min-width: 861px) {
  .tags-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .tags {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 981px) {
  .banner {
    height: 868px;
    /*height: 772px;*/
    background-image: url("./images/banner-large.jpg");
  }
  .container {
    padding: 4.6875em 0;
  }
  .about-intro {
    width: 960px;
    margin: auto;
  }
  .portrait-wrapper {
    width: 350px;
    height: 245px;
    margin: 4.4em 2em 1em 1.5em;
  }
  .what-skills-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .skills-item {
    flex: 1 1 350px;
  }
  
  .project-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    /*height: 300px;*/
    margin: 25px;
  }

  .contact-wrapper {
    width: 960px;
  }
  .form {
    margin: 4.16em 0 0 0;
  }
  .contact-card {
    margin: 5.6em 0 4.8em 3em;
  }
}
