* { 
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #ffffff;
}

h1 {
  font-family: 'Raleway', 'Arial', sans-serif;
}

/* --------------------
        Header
---------------------*/

.banner {
  height: 100vh;
  background-image: url("./images/banner-medium.jpg");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
    justify-content: center;
}

.banner::before {
  content: '';
	position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #662871; /* Old browsers */
  background: -webkit-linear-gradient(left, #008080 1%,#662871 70%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(left, #008080 1%,#662871 70%);
  background: linear-gradient(to right, #00b3b3 1%,#770f8a 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  opacity: 0.75;
}

.banner-text {
  text-align: center;
  z-index: 2;
  min-height: 125px;
}

.banner-text h1 {
  font-size: 64px;
}

.banner-text p {
  font-size: 22px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  margin: 40px 0 0 0;
  text-decoration: none;
  list-style: none;
  width: 200px;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 100%;
  padding: 12px;
}

.icon:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0 0 0 ;
  font-size: 14px;
  z-index: 2;
}

/* --------------------
      Media queries
---------------------*/

@media screen and (min-width: 761px) {
  .banner {
    background-image: url("./images/banner-large.jpg");
  }
}

@media only screen and (min-width: 981px) {
  .banner-text {
    width: 960px;
    margin: 0 auto;
  }
}
